

<div class="container">
    <h1>Welcome to the Home Page!</h1>
    <p>This is the home page of our application.</p>
    
    <!-- Navigation Links -->
    <div class="d-flex justify-content-between mb-4">
        <a href="/about" class="btn btn-info">About</a>
        <a href="/contact" class="btn btn-primary">Contact</a>
        <a href="/animal" class="btn btn-warning">Animals</a>
        <a href="/enclosures" class="btn btn-success">Enclosures</a>
    </div>
</div>
